body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #2f2a35;
    margin: 0;
    padding: 0;
}
.intro{
    padding:20px;
    max-width: 900px;
    margin: auto;
    font-size: 16px;
}
h1{
    text-align: center;
    font-family:Georgia, 'Times New Roman', serif;
    font-size:xx-large;
    font-weight:bolder;
    color: black;
    
}
nav{
    background:blue;
    color: white;
    display:flex;
    align-items: center;
    padding: 10px 20px;
}
nav ul{
    list-style: none;
    display: flex;
   margin-left: -50px;
}
nav ul li{
    margin-left: 12px;
    transition: transform 0.5s ease;
}
nav ul li:hover{
    transform: translateY(-5px);
    text-shadow: 0 3px 6px rgba(0,0,0,0.4);
}
nav ul li a{
    color: white;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
}
nav ul li a:hover{
    color: black;
    text-decoration: underline;
    text-underline-offset: 4px;
}
nav ul li a:hover::after{
    width: 100%;
}
.logo{
    width: 150px;
    margin-left: 800px;
}
.logo:hover{
    color: #ffffff;
    transform:scale(1.1);
    text-decoration: dashed;
    text-underline-offset: 7px;
    text-shadow: 0 4px 7px rgba(0,0,0,0.5);
}
.image{
    image-orientation: center;
  
   
}
.image img{
    display: block;
    width:100%;
    height:auto;
    transition: box-shadow 0.5s ease; 
    background-size: cover;   
}
image img:hover{
    box-shadow: 0 9px 20px rgba (0,0,0.7,10);
}
.image-container{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px 20px 20px;
}
.image-container img{
    width: 100%;
    height: auto;
    display: block;
}

.articles{
    max-width: 1200px;
    margin: auto;
    align-items: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3px;
    padding: 32px;
}
.news{
    display: grid;
    grid-template-columns: repeat( auto-fit,minmax(250px, 1fr));
    gap: 24px;
    padding: 21px;
}
.news img{
    width: 130%;
    height: 300px;
    border-radius:10px ;
    object-fit: contain;
    background-color: #f2f2f2;
    margin: auto;
    display: grid;
}
.meta{
    display: block;
    font-size: 12px;
    color: #777;
    margin-bottom: 0;
}
.card{
   display:flex;
   flex-direction: column;
   background-color: #ffffff;
   border-radius: 10px; 
   box-shadow: 0 4px 10px rgba(0, 0,0, 12);
   transition: transform 0.5 ease, box-shadow 0.5 ease; 
   gap: 10px;                 
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.card img{
    width: 100%;
    height: 220px;
    object-fit: contain;
    background-color:white;
    border-radius: 10px;
}
footer{
    background: #2b2b2b;
    color:#f5f5f5;
    text-align:center;
    padding: 10px;
}
h2{
    text-align: center;
    color:black;
    text-decoration: underline;
}
p{
    text-align: justify;
}
